{{ attach_library('example_components/onecol') }}

{%
  set classes = [
  'layout',
  'layout--onecol',
]
%}
{% if content %}
  <div{{ attributes.addClass(classes, 'example-bg-'~settings.values.background) }}>
    <div {{ region_attributes.content.addClass('layout__region', 'layout__region--content') }}>
      {{ content.content }}
    </div>
  </div>
{% endif %}
