<gdwc-card imgSrc="{{ imgSrc.0|file_url }}"
           headline="{{ headline }}"
           body="{{ body }}"
           linkHref="{{ linkHref.url }}"
           {%if theme != 'default'%}theme="{{theme}}"{%endif%}
></gdwc-card>
