<gdwc-menu baseUrl="{{ baseUrl }}"
           branding="{{ branding }}"
           loadingMessage="{{ loadingMessage }}"
           menuId="{{ menuId }}"
           {%if theme != 'default'%}theme="{{theme}}"{%endif%}
></gdwc-menu>
