<style>
  sp-tab-panel {flex-direction: column}
</style>

<sp-theme scale="large" color="light" dir="ltr">
  <sp-tabs selected="1"
           size="{{ size }}"
           direction="{{ direction }}"
           {% if variant != 'default' %}
             {{ variant }}
           {%endif%}
           {% if emphasized %}
             emphasized
           {%endif%}
  >
    {% for tab in tabs %}
      <sp-tab label="{{tab.label}}" value="{{ loop.index }}"></sp-tab>
      <sp-tab-panel value="{{ loop.index }}">
        {{ tab.panel|raw }}
      </sp-tab-panel>
    {%endfor%}
  </sp-tabs>
</sp-theme>
